.Button {
    font-size: 1.2rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    text-transform: uppercase;
  }
  
  .Button:hover {
    font-weight: 600;
    opacity: 0.8;
    background-color: teal;
    color: antiquewhite;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: teal !important;
    cursor: pointer;
  }
  
  .Button:active {
    background-color: rgb(1, 69, 69) !important;
  }
  
  .Button:focus {
    background-color: teal !important;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .SignUp,
  .SignIn {
    background-color: teal;
    color: antiquewhite;
  }

  .Cancel {
    background-color: rgb(239, 94, 3);
  }

  .Create {
    background-color: teal;
  }

  .Follow {
    background-color: teal;
  }