.Button {
  font-size: 1.2rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin: 0 2px;
  min-width: 75px;
  text-transform: uppercase;
}

.Button:hover {
  font-weight: 600;
  opacity: 0.8;
  background-color: teal;
  cursor: pointer;
  color: white;
}

.Button:focus {
  background-color: teal !important;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Larger {
  scale: 1.2 !important;
  margin: 1rem;
}

.SignUp,
.SignIn,
.Post,
.Create,
.Update,
.Follow,
.Save {
  background-color: #00796b;
  color: white;
}

.Post,
.Create,
.Update,
.Follow,
.Save {
  scale: 0.8;
  min-width: 100px;
}

.Cancel {
  scale: 0.8;
  background-color: #de0392;
  color: white;
}

.Cancel:hover {
  background-color: rgb(255, 11, 206);
  color: white;
  font-weight: 600;
  cursor: pointer;
}
