/* Input labels */
.Label {
  scale: 1.4;
  font-weight: 600;
}

/* Form input fields */
.Input {
  background: #ffffff;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 20px;
}

/* Input field - action */
.Input:hover,
.Input:active,
.Input:focus {
  border: 2px teal solid;
}
