/* No title for small devices */
@media (max-width: 390px) {
    .navTitle {
        display: none;
    }
}

/* Entire Navbar */
.navBar {
    background-color: #fcf4e9;
}

/* Font color in navbar */
.navBrand,
.navLinks {
    font-family: 'Poppins', sans-serif !important;
    color: gray !important;
    text-decoration: none;
    padding-left: 10px;
}


/* Hide search bar on small devices */
.navSearch {
    display: none;
}

/* Title */
.navTitle {
    color: teal;
    font-size: 150%;
}

/* Logo */
.logo {
    border: 2px solid gray;
    border-radius: 8px;
  }

/* Toggle button */
.toggleBtnCustom {
    border: 1px solid gray !important;
}

/* For small devices */
@media (min-width: 768px) {
    /* Larger font for page title */
    .navBrand {
        font-size: 220%;
    }

    /* Individual nav link */
    .NavLink {
        align-self: flex-end !important;
    }

    /* Add post link */
    .AddPost {
        align-self: center;
        border: 1px gray solid;
        border-radius: 10px;
        padding: 8px;
    }
    
    /* Search bar */
    .navSearch {
        top: 10px;
        right: -10px;
        position: absolute;
        scale: .8;
        display: block;
    }

    /* Nav links */
    .navLinks {
        bottom: 10px;
        right: 10px;
        position: absolute;
    }
}
