.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.ImageLink {
  display: block;
  margin: 0;
  padding: 0;
}

.ImageLink:hover {
  scale: 1;
}

.Header {
  color: antiquewhite;
  font-size: 250%;
  font-weight: 600;
  margin-bottom: 30px;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: teal;
}

.Heart:hover {
  color: rgb(255, 11, 206);
}

.HeartOutline:hover {
  color: rgb(255, 11, 206);
}

.WordBreak {
  word-break: break-all;
}

.Location {
  font-size: x-large;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
