.Container {
  min-height: 343px;
}

.Upload {
  height: 20px;
  width: 20px;
}

.Input {
  background: #ffffff;
  border: 1px solid teal;
  box-sizing: border-box;
  border-radius: 5px;
  color: teal;
  text-align: center;
  padding: 20px;
}

.Heading {
  color: antiquewhite;
  font-size: 250%;
  font-weight: 600;
  margin-bottom: 10px;
}
