/* Page heading */
.Heading {
  color: antiquewhite;
  font-size: 250%;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Image container */
.Container {
  min-height: 417px;
}

/* Image */
.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

/* Input labels */
.Label {
  scale: 1.4;
  font-weight: 600;
}

/* Form input fields */
.Input {
  background: #ffffff;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 20px;
}

/* Input field - action */
.Input:hover,
.Input:active,
.Input:focus {
  border: 2px teal solid;
}
