/* Main Heading */
.Heading {
  color: antiquewhite;
  font-size: 300%;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Page content layout */
.Row {
  min-height: calc(100vh - 100px);
  --bs-gutter-x: 0;
}

/* Form heading */
.Header {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 45px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: teal;
}

/* Form input fields */
.Input {
  background: #ffffff;
  border: 1px solid teal;
  box-sizing: border-box;
  border-radius: 5px;
  color: teal;
  text-align: center;
  padding: 20px;
}

/* Link to login/sign up page*/
.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
  color: rgb(94, 91, 94);
}

/* Highlight keywords in link */
.Link span {
  color: #de0392;
  font-size: larger;
}

/* Image column */
.ImageCol {
  height: 350px;
}

/* Image */
.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
